.scroll-pane > .viewport {
  -fx-background-color: #92C37D;
}

#buttons {
  -fx-padding: 3 0 3 0;
  -fx-alignment: center;
}

#chosenRecipes > .viewport{
  -fx-background-color:  #69A94F;
}
.recipeScrollPane .scroll-bar:vertical, .hide-scrollbar .scroll-bar:horizontal {
  -fx-opacity: 0;
  -fx-pref-width: 0;
  -fx-pref-height: 0;
  -fx-background-insets: 0;
}